.metadata
org.xtext.example.mydsl/src-gen
org.xtext.example.mydsl.tests/src-gen
org.xtext.example.mydsl.ui/src-gen
org.xtext.example.mydsl/xtend-gen
org.xtext.example.mydsl.tests/xtend-gen
org.xtext.example.mydsl.ui/xtend-gen
org.xtext.example.mydsl/bin
org.xtext.example.mydsl.tests/bin
org.xtext.example.mydsl.ui/bin
