<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtex.org/exmaple/mydsl/MyDSL" 
       class = "org.xtext.example.mydsl.myDSL.MyDSLPackage"
       genModel = "model/generated/MyDSL.genmodel" /> 
	
  </extension>




</plugin>
